.jumbotron {
  background-color: #7FFF00;
  color: rgba(255, 255, 255, 0.88); }

.card-product {
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
  position: relative;
  width: 100%;
  margin-top: 15px;
  margin-bottom: 0;
  padding-right: 8px;
  padding-left: 8px; }

.card-product-body {
  height: 100%; }
  .card-product-body p {
    font-size: .9em; }

.btn-reservar {
  max-width: 150px;
  background-color: #fc0303; }

footer {
  margin-top: 15px;
  padding: 25px 30px;
  background-color: #000;
  color: white; }

@media screen and (max-width: 767px) {
  .card-product {
    flex: 0 0 50%;
    max-width: 50%; } }

@media screen and (max-width: 450px) {
  .card-product {
    flex: 0 0 100%;
    max-width: 100%; } }
