$yellow: #f2ef24;
$red: #fc0303;
$green: #7FFF00;

@mixin marginTB($top, $bottom){
	margin-top: $top;
	margin-bottom: $bottom;
}

@mixin paddingX ($val) {
    padding-right: $val;
    padding-left: $val;
}

@mixin paddingXY ($val, $val2) {
    padding: $val $val2
}

@mixin paddingFull($top, $right, $bottom, $left){
    padding: $top $right $bottom $left;
}

.jumbotron {
    background-color: $green;
    color: rgba(255, 255, 255, 0.88)
}

.card-product {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
    position: relative;
    width: 100%;
    @include marginTB(15px, 0);
    @include paddingX(8px);
}

.card-product-body {
    height: 100%;

    & p{
        font-size: .9em;
    }
}

.btn-reservar {
    max-width: 150px;
    background-color: $red;
}

footer {
    margin-top: 15px;
    @include paddingXY(25px, 30px);
    background-color: #000;
    color: white;
}

@media screen and (max-width: 767px) {
    .card-product {
        flex: 0 0 50%;
        max-width: 50%;
    }
}

@media screen and (max-width: 450px) {
    .card-product {
        flex: 0 0 100%;
        max-width: 100%;
    }
}
